/***************
 * Base styles *
 ***************/

  *{
    box-sizing: border-box;
  }
  
  html,
  body {
    min-height: 100vh;
  }
  
  body {
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
  }

  h1 {
      font-size: 70px;
  }
  
  a {
    color: #ffffff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul {
    list-style-type: circle;
  }
  
  img {
    display: block;
    max-width: 100%;
    width: 300px;
  }
  
  main {
    flex: 1;
  }
  
  section {
    padding: 1rem 1rem;

  }

  button {
    display: inline-block;
    border-radius: 4px;
    background-color: #bb5f6b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 5px 5px 15px #0000007a;
  }

  button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover span {
    padding-right: 25px;
  }
  
  button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
/**********
*  Page  *
**********/
  
  .page-main,
  .page-footer {
    background-color: #172833;
    color: #ffffff;
    text-align: center;
  }

/****************
*  Navigation  *
***************/
  
  .navigation {
    height: 80px;
    padding: 12px;
    background-color:#172833;
   }

  .nav-logo {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-right: auto;
   }

   .nav-item {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 20px;
    position: relative;
  }
  
  .nav-item:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .nav-item:hover:after { 
    width: 100%; 
    left: 0; 
  }

/**********
*  Quiz  *
**********/
   
  .logo {
    margin-left: auto;
    margin-right: auto;
  }

  .button-quiz {
    font-size: 28px;
    padding: 20px;
    width: 250px;
   }

/**********
* Projekt *
**********/

.table-team {
  display: flex;
  justify-content: center; 
}

.row-team {
  display: flex;
}

.column-team {
  flex: 50%;
} 

.card {
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 10px 10px 5px #0000007a;
}

.member-image {
  margin-left: auto;
  margin-right: auto;
}

.button-team {
  font-size: 18px;
  padding: 15px;
  width: 200px;
}

.table-project {
  display: flex;
  justify-content: center; 
}

.row-project {
  display: flex;
}

.column-project {
  flex: 33.3%;
}

.button-project {
  font-size: 28px;
  padding: 20px;
  width: 250px;
 }

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #ffffff;
  color: #000000;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.slideshow-container {
  max-width: 400px;
  position: relative;
  margin: auto; 
  }

.slide {
  max-width: 100%;
  display: none;
  }

.slide-img {
  margin-left: auto;
  margin-right: auto;
  }

.arrow {
  max-width: 100%;
  display: inline-block;
  }

.prev, .next {
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  }

.prev {
  margin-right: 100px;
  padding-left: 15px;
  padding-right: 15px;
  }

.next {
  margin-left: 100px;
  padding-left: 15px;
  padding-right: 15px;    
  }

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }

.active, .dot:hover {
  background-color: #717171;
  }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }

  @keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  }

/**********
* @Media *
**********/

@media screen and (min-width: 1300px) {
  .row-team {
    max-width: 45%;
  }
}

@media screen and (max-width: 1000px) {

  .nav-logo {
    visibility: hidden;
  }

  .nav-item {
    visibility: hidden;
  }

  .row-team {
    flex-wrap: wrap;
  }

  .row-project {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1000px) {
  #menuToggle {
    visibility: hidden;
    position: absolute;
  }
}
  
@media screen and (min-width: 400px) {
  .navigation {
    display: flex;
    justify-content: flex-end;
  }

  .nav-item:first-child {
    margin-right: auto;
  }

  .column-team {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/**************
* Mobile Menu *
**************/

@media screen and (max-width: 1000px) {

  .menu-items {
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  .mobile-item {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    color: #000000;
    display: inline-block;
    padding: 20px;
    position: relative;
  }
  
  .mobile-item::after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .mobile-item:hover:after { 
    width: 100%; 
    left: 0;
  }
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    max-width: auto;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em 1em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}

.honeypot {
  display: none;
}


.submit-button {
  font-size: 20px;
  padding: 10px 20px 10px 20px;
 }

 .joker-button {
  position: relative;
  display: inline-block;
  background: transparent;
  box-shadow: none;
 }

 .submit-answer {
  position: relative;
  display: inline-block;
  background: transparent;
  box-shadow: none;
  outline:none;
 }

 .joker-button:disabled {
  cursor: default;
}

.joker-button:disabled {
  background: transparent;
}



 .joker-svg{
  fill: white;
  width: 60px;
 }





.game-class {
  width: 960px;
  margin: 0 auto;
}

.hint-class{
  padding: 2px;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  transform: skew(-20deg);
  background: rgb(130,14,30);
  background: linear-gradient(180deg, rgba(130,14,30,1) 0%, rgba(72,8,39,1) 34%, rgba(73,12,41,1) 100%);
  margin: 15px auto;
  border: solid 2px #b6727e;
  border-radius: 12px;
  width: 60%;
  box-shadow: -1px 1px 15px #4b0b2c;
}

.hint-inner-text {
width: 90%;
-webkit-transform: skew(20deg); 
-moz-transform: skew(20deg); 
transform: skew(20deg);
margin: 10px;
font-size: 18px;
text-shadow: 0 0 6px white;
}

.looking-for-inner1 {
  padding: 0px;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  transform: skew(10deg);
  margin: 40px auto;
  border-radius: 12px;
  width: 70%;
  box-shadow: 0 0 3px 2pt #ffffff;
}

.looking-for-inner2 {
  padding: 0px;
  margin: 0px auto;
  border-radius: 12px;
  width: 95%;
  box-shadow: -1px 1px 15px #4b0b2c;
  box-shadow: 0 0 3px 2pt #ffffff;
}

.looking-for-inner3 {
  padding: 2px;
  margin: 0px auto;
  border-radius: 12px;
  width: 95%;
  box-shadow: 0 0 3px 1pt #ffffff;
  text-transform: uppercase;
}

.looking-for-inner-text {
  width: 90%;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  transform: skew(-10deg);
  margin: 10px;
  font-size: 30px;
  text-shadow: 0px 0px 3px #FFFFFB;
}

.submission {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 10px 40px 10px 40px;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  transform: skew(-10deg);
  border-radius: 12px;
  background: #00000033;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #0a0a0aa8;
}

.submission > li {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: red;
}

.running-game {
  background: #0000002b;
  border: solid 2px #0000001f;
  border-radius: 15px;
  padding: 30px;
}


.question-number-container {
  margin: 0px 40px 0px 40px;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  transform: skew(-10deg);
  border-radius: 12px;
  box-shadow: 0 0 4px 3pt #ffffff9c;
  background: #00000033;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-number-text {
  font-size: 40px;
  text-transform: uppercase;
  text-shadow: 0px 0px 30px #ffffff;
  margin: 10px;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  transform: skew(10deg);
}

.answer {
  /*display: block;*/
  margin: 1em auto;
  border: none;
  padding: 0;
  width: 0ch;
  background: repeating-linear-gradient(90deg,#ffffff8a 0, #ffffff8a 1ch, transparent 0, transparent 1.5ch) 0 100%/100% 2px no-repeat;
  color: #ffffff;
  font: 4ch consolas, monospace;
  letter-spacing: .5ch;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  transform: skew(10deg);
}


.answer:focus {
  outline: none;
}

.checkmark{
  fill: white;
  width: 30px;
 }

 .deskew10deg {
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  transform: skew(10deg);
 }

.score {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown {
  position: relative;
  margin: 0px 40px 0px 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.base-timer {
  position: relative;
  height: 100px;
  width: 100px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: #80808026;
}

.base-timer__label {
  position: absolute;
  
  /* Size should match the parent container */
  width: 100px;
  height: 100px;
  
  /* Keep the label aligned to the top */
  top: 0;
  
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 30px;
  color: #d3cfd1;

  text-shadow: 0px 0px 3px #FFFFFB;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: #ffffff;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
};


.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

.current-score-container {
  padding: 0px;
  margin: 0px 40px 0px 40px;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  transform: skew(10deg);
  border-radius: 12px;
  box-shadow: 0 0 3px 2pt #ffffff;
  background: #00000033;
  height: 60px;
}

.current-score {
  position: relative;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  transform: skew(-10deg);
  margin: 0px 20px 0px 20px;
  text-align: center;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  padding: 5px;
  text-shadow: 0px 0px 3px #FFFFFB;
 }

 .new-score-input {
  outline: 0;
  border-width: 0px;
  background-color: transparent;
  font-size: 20px;
  width: 90%;
  margin: 10px;
  padding: 10px 10px 10px 20px;
  border-radius: 20px;
  color: #757575;
}

.new-score-input:focus {
  color: #ffffff;
}

/********************/
/* SCORE SUBMISSION */
/********************/

.score-form {
  border-radius: 20px;
  color: #757575;
  background-color: #00000029;
  height: 80px;
  display: flex;
}

.score-submit-button {
  margin-left: auto;
  background: #00000042;
  width: 160px;
  font-size: 30px;
  position: relative;
  display: inline-block;
  background: transparent;
  box-shadow: none;
  outline: none;
  width: 10%;
}

.score-message {
  padding: 10px 0px 10px 0px;
    margin: 0px 40px 0px 40px;
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    font-size: 60px;
    transform: skew(10deg);
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #FFFFFB;
    width: 100%;
}

.your-score-container {
  position: relative;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  transform: skew(-10deg);
  margin: 20px 0px 50px 0px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  box-shadow: 0 0 3px 2pt #ffffff;
  border-radius: 12px;
  background: #00000033;
}

.your-score {
  padding: 10px 0px 10px 0px;
  margin: 0px 40px 0px 40px;
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  font-size: 30px;
  transform: skew(10deg);
  width: 100%;
}